[user]
	name = Dillion Verma
	email = hello@dillion.io
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
	keep-plus-minus-markers = false
	side-by-side = false
	syntax-theme = Catppuccin Macchiato
	file-style = bold "#99ffe4"
	file-decoration-style = "#1c1c1c" ul
	hunk-header-style = file line-number bold "#b8a1ff"
	hunk-header-decoration-style = "#1c1c1c"
	hunk-header-file-style = "#99ffe4" bold
	hunk-header-line-number-style = "#ffc799"
	commit-style = "#ffc799" bold
	commit-decoration-style = "#1c1c1c"
	line-numbers-left-style = "#565f89"
	line-numbers-right-style = "#565f89"
	line-numbers-minus-style = "#ff8080"
	line-numbers-plus-style = "#99ffe4"
	line-numbers-zero-style = "#7d7d7d"
	minus-style = syntax "#201313"
	minus-emph-style = syntax "#3a1f1f"
	plus-style = syntax "#13211d"
	plus-emph-style = syntax "#1d332b"
	zero-style = syntax "#151515"
